<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/common_header.html"></div>

<body>
<form th:action="@{/employee/cmsemployeeedit}" method="POST" th:object="${form}">
		<div class="publicHeader" th:insert="~{fragments/header :: header}">...</div>
		<!--时间-->
		<section class="publicTime">
			<span id="time">2015年1月1日 11:11 星期一</span> <a href="#">メッセージ</a>
		</section>
		<!--主体内容-->
		<section class="publicMian ">

			<div class="left" th:insert="~{fragments/left :: left}">...</div>
			<div class="right">
				<div class="location">
					<strong>画面情報：</strong> <span>社員編集画面</span>
                 </div>
				<div class="providerDetail">
					<div class="div_edit_row">■基本情報</div>
					
					<div class="div_edit_row">
						<label>社員ID：</label>
                        <input name="employeeIdShow" type="text" th:value="${form.employeeId}" th:field="*{employeeId}" disabled="disabled" />
                        <input name="employeeId" type="hidden" th:value="${form.employeeId}" th:field="*{employeeId}" />
					</div>
					
					<div class="div_edit_row">
						<label>社員名：</label>
                        <input name="employeeName" type="text" th:value="${form.employeeName}" th:field="*{employeeName}" />
                        <span th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" style="color: red"></span>
					</div>
					
					<div class="div_edit_row">
						<label>性別：</label> 
						<div style="display:inline-flex">
						    <div th:each="item : *{sexyList}" style="vertical-align:middle;">
								<input type="radio" th:text="${item.value}" th:value="${item.key}" th:field="*{selectedSexy}"  style="vertical-align:middle;margin-top:0px;margin-bottom:0px;">
						    </div>
					    </div>
					</div>
					
					<div class="div_edit_row">
						<label>メール：</label>
                        <input name="mail" type="text" th:value="${form.mail}" th:field="*{mail}"  />
                        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: red"></span>
					</div>
					
					<div class="div_edit_row">
						<label>生年月日：</label>
						<input name="birthday" type="date" th:value="${form.birthday}" th:field="*{birthday}" />
						<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red"></span>
					</div>
					
					<div class="div_edit_row">
						<label>電話：</label> <input name="phone" type="number"  th:value="${form.phone}" th:field="*{phone}" /> 
						<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
					</div>
					
					<div class="div_edit_row">
						<label>住所：</label>
						<input name="address" type="text" th:value="${form.address}" th:field="*{address}" />
                        <span th:if="${#fields.hasErrors('address')}" th:errors="${form.address}" style="color: red"></span>
					</div>



					<div class="div_edit_row">■所属情報</div>	
					<div class="div_edit_row">
						<label>部  門：</label>
                               <select id="color" name="departmentName" style="width:260px;">
								<option th:each="item : ${form.departmentList}" th:value="${item.value}"	th:text="${item.value}"
									th:selected="${item.value} == ${form.departmentName}">
								</option>
						    	</select>
							<span th:if="${#fields.hasErrors('departmentList')}" th:errors="*{departmentList}" style="color: red"></span>
					</div>	
					
					<div class="div_edit_row">
						<label>所属会社：</label>
						<input type="text" name="companyID" id="companyID" th:value="${form.companyID}" placeholder="所属会社ID"/>
						<!-- ----------PopUp画面 start---------- -->
						<button type="button" class="btn btn-primary" data-toggle="modal" 
						data-target="#exampleModalCompany" style="padding:0;background-color:white;border-color:white;" id="openSelectCompanyScreen">
					 	🔎
						</button>
						<input id="companyName" type="text" name="companyName" th:value="${form.companyName}" disabled="disabled" style="border: 0px;background-color: white;"/>
						<!-- ----------PopUp画面 end  ---------- -->
					</div>
					
					<div class="div_edit_row">
						<label>社員種別：</label> 
						<div style="display:inline-flex">	
						    <div th:each="item : ${form.jobTypeList}" style="vertical-align:middle;">
								<input type="radio" th:text="${item.value}" th:value="${item.key}" th:field="*{jobType}"  style="vertical-align:middle;margin-top:0px;margin-bottom:0px;">
						    </div>
					    </div>
					</div>
					
					<div class="div_edit_row">
						<label>入社年月日：</label>
						    <input name="joiningDate" type="date" th:value="${form.joiningDate}" th:field="*{joiningDate}" />
						    <span th:if="${#fields.hasErrors('joiningDate')}" th:errors="*{joiningDate}" style="color: red"></span>
					</div>

					<div class="div_edit_row">■緊急連絡先</div>
					
					<div class="div_edit_row">
						<label>名前：</label>
                        <input name="u_name" type="text" th:value="${form.u_name}" th:field="*{u_name}" />
					</div>
					
					<div class="div_edit_row">
						<label>銘柄：</label>
                        <input name="relationship" type="text" th:value="${form.relationship}" th:field="*{relationship}" />
					</div>
					
					<div class="div_edit_row">
						<label>住所：</label>
                        <input name="u_address" type="text" th:value="${form.u_address}" th:field="*{u_address}" />
					</div>
					
					<div class="div_edit_row">
						<label>電話：</label>
                        <input name="u_phone" type="number" th:value="${form.u_phone}" th:field="*{u_phone}" />
					</div>
					
					<div class="providerDetailBtn">
						<input type="submit" id="update" name="update" value="更新" /> 
						<input type="submit" value="返回" id="gotoEmployeeList" name="gotoEmployeeList" />
					</div>
				</div>
			
		    </div>
		</section>
		<footer class="footer"> </footer>

	</form>	
	
	
	<!-- ----------PopUp画面 start---------- -->
	<div th:replace="model/selectCompany"></div>
	<script type="text/javascript" th:src="@{/js/model/selectCompany.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- ----------PopUp画面 end  ---------- -->
	<!-- 共通Js -->	<!-- 共通Js -->
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.js}"></script>
	<script type="text/javascript" th:src="@{/js/time.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<!-- 画面Js -->
	<script type="text/javascript" th:src="@{/js/employee/employeelist.js}"></script>

</body>
</html>