<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="left">
		
		<h2 class="leftH2">
            <span class="span1"></span>＞社員管理<span></span>
        </h2>
        <nav>
            <ul class="list">
                <li class="menu_03_01"><a onclick="transitionTo('/marketstore/marketstorelist');">社員管理</a></li>
                <li class="menu_03_02"><a onclick="transitionTo('/employee/employeelist');">BP社員管理</a></li>
            </ul>
        </nav>
        
		<h2 class="leftH2">
			<span>＞給料管理</span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_01_01"><a onclick="transitionTo('/employee/cmsemployeelist');">社員給料一覧</a></li>
				<li class="menu_01_02"><a onclick="transitionTo('/cost/cmscostlist');">社員給料変更履歴一覧</a></li>
				<li class="menu_01_02"><a onclick="transitionTo('/cost/cmscostlist');">社員給料登録</a></li>
				<li class="menu_01_02"><a onclick="transitionTo('/cost/cmscostlist');">給料明細一覧</a></li>
			</ul>
		</nav>

	</div>
</body>
</html>