<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.base.mapper.GeneralMstMapper">

	<select id="select"
		parameterType="com.cms.base.entity.GeneralMstBean"
		resultType="com.cms.base.entity.GeneralMstBean">
		SELECT
		generalId,
		generalName
		FROM
		cms_general_mst
		<where>
			<if test="generalKey != null">
				generalKey = #{generalKey}
			</if>
		</where>
		order by generalId
	</select>
	
	<select id="selectDep"
		parameterType="com.cms.base.entity.DepartmentBean"
		resultType="com.cms.base.entity.DepartmentBean">
		SELECT
			cms.departmentId,
			cms.departmentName
		FROM
			cms_pg.cms_department cms
		<where>
			<if test="departmentName != null and departmentName != ''">
			and departmentName like concat('%',#{departmentName},'%')
			</if>
			<if test="departmentId != null and departmentId != ''">
			and departmentId = #{departmentId}
			</if>
		</where>
		order by departmentId
	</select>
</mapper>